/**************GLOBALS**************/

html, body {
    line-height: 1.8;
    color: #0f1c1b;
    font-family: 'Jaldi', sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-family: 'Nixie One', cursive;
}

a {
    text-decoration: none;
    color:#0f1c1b;
    font-size: 1.25em;
}

a:hover {
    text-decoration: underline;
}

nav a {
    padding: 10px;
}

nav {
    border-bottom: 1px solid #0f1c1b;
}

ul {
    list-style: none;
}

section + section {
    border-top: 1px solid #0f1c1b;
    margin-top: 40px;
}

canvas, .slider img {
    background-color: #fff;
}

form input {
    display: block;
    margin: 15px auto;
}


/**************HELPERS**************/

.container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.error p {
    background-color: #e6594e;
    padding: 5px;
}

.tall {
    font-size: 1.2em;
}

.small {
    font-size: 0.8em;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.clearfix {
    clear: both;
}

/**************POSTS**************/

.post img {
    box-shadow: 0px 0px 10px dimgrey;
}

.post {
    padding: 10px 50px;
}

.post-infos a {
    color: #20b2aa;
}
.post > div {
    display: flex;
    justify-content: space-between;
}

.post-infos {
    display: inline-block;
    width: 30%;
    position: relative;
}

.post-delete, .post-edit {
    display: inline-block;
}

.edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.post img, .slider img, .slate {
    background: url('../img/wall-3.jpeg') center;
}
